@import '../../components/variables';

.root {
  > * {
    margin: 0 @padding-horizontal @padding-vertical @padding-horizontal;
  }

  > *:first-child {
    margin-bottom: 10px;
  }

  > *:last-child {
    margin-bottom: @padding-vertical;
  }

  [role='toolbar'] {
    margin-bottom: @padding-vertical;
  }

  .hearder_box1 {
    position: absolute;
    left:650px;
    top:12px;
    display: block;
    width: 115px;
    background: #555;
    line-height: 30px;
    text-align: center;
    color:white;
    cursor:pointer;
  }

  .hearder_box2 {
    position: absolute;
    left:300px;
    top:12px;
    display: block;
    width: 115px;
    background: #555;
    line-height: 30px;
    text-align: center;
    color:white;
    cursor:pointer;
  }

  :global(.ant-alert) {
    line-height:40px;
    margin-bottom:10px;
    font-size:14px;
  }

  :global(.ant-alert-icon) {
    top:21px
  }

}
